$black: #22252A;
$dark: #3B3D3E;
$light: #737577;
$border: #C7CAD1;
$blue: #4040BF;
$orange: #FF8246;
$light_bg: #F4F4FC;
$footer_bg: #1F223A;
$footer: #CBD4EC;
$footer_border: #2A2D49;


@import "normalize.css";
@import "flexboxgrid.css";
@import "fonts.css";
@import "mixins";


body { font-family: PTRootUI_Regular, sans-serif; }
.container-fluid { margin: 0 auto; }
.max--940 { max-width: 940px; }
.dark--text { color: $dark; }
.light--text { color: $light; }
.fs--16 {
  font-size: 16px;
  line-height: 20px;
}
.fs--18 {
  font-size: 18px;
  line-height: 27px;
  @include screen('mobile') {
    font-size: 14px;
    line-height: 22px;
  }
}
b { font-family: PTRootUI_bold, sans-serif; }
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  @include screen('mobile') { font-size: 22px; }
  @include screen('tablet') { font-size: 40px; }
}
h2 {
  font-family: PTRootUI_bold, sans-serif;
  font-size: 36px;
  @include screen('mobile') { font-size: 22px; }
  @include screen('tablet') { font-size: 30px; }
  @include screen('iphone5') { font-size: 18px; }
}
h4 {
  font-family: PTRootUI_bold, sans-serif;
  font-size: 24px;
  @include screen('mobile') { font-size: 18px; }
  @include screen('tablet') { font-size: 22px; }
  @include screen('iphone5') { font-size: 14px; }
}


//Шапка
header {
  max-width: 1270px;
  padding-top: 35px;
  padding-bottom: 80px;
  @include screen('mobile') {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  //Логотип
  .logo img { display: block; }

  //Меню
  .hamburger {
    display: none;
    @include screen('mobile') { display: block; }
    @include screen('tablet') { display: block; }
    a {
      font-size: 22px;
      color: $black;
    }
  }
  nav.row {
    display: none;
    @include screen('desktop') { display: flex; }
    @include screen('hd') { display: flex; }
    font-size: 10px;
    line-height: 27px;

    ul { margin: 0; }

    li {
      list-style: none;
      margin-left: 10px;
      padding: 0 10px;
      position: relative;
      cursor: pointer;

      &.folder {
        padding-right: 15px;

        ul {
          position: absolute;
          z-index: 2;
          top: 25px;
          right: 0;
          overflow: hidden;
          max-height: 0;
          border-radius: 2px 0 2px 2px;
          padding: 0;
          @include transition(max-height .5s ease);
          box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15);

          li {
            display: none;
            white-space: nowrap;
            margin-left: 0;
            padding: 0 15px 0 10px;
            a { line-height: 20px; }
            &:hover {
              background: rgba(34, 37, 42, 0.1);;
            }
          }

          & li:first-child {padding-top: 5px;}
          & li:last-child {padding-bottom: 5px;}
        }

        &:hover, &:hover ul {
          color: white;
          background: $orange;
          display: block;
        }

        &:hover {
          border-radius: 2px 2px 0 0;
          box-shadow: 0 0px 4px 0 rgba(0,0,0,0.15);
          .str { border-color: white; }
          a { color: white; }
        }

        &:hover ul {
          max-height: 200px;
          li {
            display: block;
          }
        }


      }

      .str {
        display: block;
        width: 3px;
        height: 3px;
        border-bottom: 1px solid $black;
        border-right: 1px solid $black;
        position: absolute;
        top: 11px;
        right: 5px;
        transform: rotate(45deg);
      }

      a {
        color: $black;
        @include transition(color .2s ease);
        &:hover { color: $orange; }
      }

      &.signUp , &.signIn {
        font-size: 8px;
        padding: 0;
      }

      &.signUp {
        margin-left: 20px;
      }

      &.signIn {
        margin-left: 5px;
      }
    }
  }
}
.mm {
  .str {
    display: none;
  }
  .btn {
    border-radius: 0;
  }
}

//Главный блок
.hero {
  background: url("../img/hero_bg.svg") bottom center;
  background-size: cover;

  .hero-content {
    padding-bottom: 120px;

    .title {
      background: url("../img/uiu.svg") bottom right no-repeat;
      display: inline;
      padding-right: 80px;
      margin-bottom: 25px;
      @include screen('mobile') {
        background-position: 98% -20px;
      }
      @include screen('tablet') {
        background-position: 100% -16px;
      }
    }

    p {
      margin: 25px 0 30px;
    }

    .btn {
      margin-right: 10px;
    }

    .pic {
      position: relative;
      img {
        width: 100%;
        @include screen('mobile') {
          margin-bottom: 30px;
        }
        @include screen('desktop') {
          width: 110%;
          position: absolute;
          right: 0;
          z-index: 1;
        }
        @include screen('hd') {
          width: 145%;
        }
      }
    }
  }
}


//Категории
.categories {
  margin-bottom: 100px;

  .categories-content {
    position: relative;

    h2 {
      position: relative;
      z-index: 2;
    }

    .plus_plus {
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
  //Карточки
  .cards {
    padding-top: 30px;

    .card {
      box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
      @include transition(box-shadow .2s ease);
      border-radius: 9px;
      padding: 30px 10px;
      margin-bottom: 30px;

      &:hover {
        box-shadow: 0 4px 40px 0 rgba(0,0,0,0.20);
      }

      h4 {margin: 25px 0;}
      p {
        margin: 0 0 25px;
        padding: 0 10px;
        @include screen('tablet') {
          height: 66px;
        }
      }
    }
  }
}


//Инструменты
.toolkit {
  margin-bottom: 160px;
  .pic_box {
    position: relative;
    @include screen('mobile') {
      margin-bottom: 30px;
    }

    .uiu {
      position: absolute;
      z-index: 3;
    }

    .pic {
      position: relative;
      z-index: 2;
    }
    .bg {
      width: 105%;
      position: absolute;
      z-index: 1;
      top: -30px;
      left: -5%;
      @include screen('mobile') {
        width: 100%;
        left: 0;
      }
    }
  }

  .last-sm .bg {
    left: 0;
    right: -5%;
    @include screen('mobile') {
      width: 100%;
      right: 0;
    }
    @include screen('tablet') {
      width: 100%;
    }
  }

  h2 { margin: 0 0 10px; }

  .btn {
    margin-top: 30px;
  }
}
.accordion {
  position: relative;
  padding: 20px 20px 0 45px;
  border-radius: 9px;
  @include transition(all .2s ease);
  cursor: pointer;

  &.active {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
    margin-top: 10px;
    p {
      display: block;
      height: auto;
    }
    .plus {
      transform: rotate(45deg);
    }
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 20px 0;
    display: none;
  }

  .plus {
    position: absolute;
    top: 21px;
    left: 12px;
    transform: rotate(0deg);
    @include transition(transform .4s ease);
    @include screen('mobile') {
      top: 17px;
    }
  }
}

.toolkit_sales {
  .uiu {
    left: 25%;
    transform: rotate(320deg);
    @include screen('mobile') { top: 240px; }
    @include screen('tablet') { top: 270px; }
    @include screen('desktop') { top: 320px; }
    @include screen('hd') { top: 330px; }
    @include screen('iphone5') { top: 200px; }
  }
  .pic {
    width: 80%;
    max-width: 324px;
  }
}
.toolkit_involvement {
  .pic {
    width: 100%;
    max-width: 515px;
    position: relative;
    top: -20px;
    left: 0;
    @include screen('hd') {
      width: 110%;
      left: -5%;
    }
  }
  h2 {
    @include screen('tablet') {
      width: 120%;
    }
  }
}
.toolkit_satisfaction {
  margin-bottom: 100px;
  .uiu {
    position: absolute;
    left: 65%;
    z-index: 3;
    transform: rotate(300deg);
    @include screen('mobile') { top: 230px; }
    @include screen('tablet') { top: 250px; }
    @include screen('desktop') { top: 300px; }
    @include screen('hd') { top: 300px; }
    @include screen('iphone5') { top: 180px; }
  }
  .uiu_2 {
    position: absolute;
    left: 0;
    z-index: 3;
    transform: rotate(0deg);
    @include screen('mobile') { top: 90px; }
    @include screen('tablet') { top: 90px; }
    @include screen('desktop') { top: 100px; }
    @include screen('hd') { top: 120px; }
  }
  .pic {
    margin-top: 20px;
    width: 100%;
    max-width: 418px;
  }
}


//Клиенты
.clients {
  margin-bottom: 145px;

  h2 {
    margin-bottom: 60px;
  }

  .pole {
    background: $light_bg url("../img/clients_logo.png") no-repeat center ;
    width: 100%;
    height: 310px;
    border-radius: 160px;
    position: relative;
    @include screen('mobile') { background-size: 40% auto; }
    @include screen('iphone5') { height: 288px; }

    img {
      position: absolute;
      display: block;
    }

    #dialogflow {
      top: -40px;
      right: 31%;
      @include screen('mobile') { width: 103px; right: 25%; }
    }
    #facebook {
      bottom: 43%;
      right: 19%;
      @include screen('mobile') { width: 75px; right: 3%; }
    }
    #google-analytics {
      bottom: 0;
      left: 0;
      @include screen('mobile') { width: 120px; }
    }
    #slack {
      top: 10px;
      left: 37%;
      @include screen('mobile') { width: 75px; left: 27%; top: 40px; }
    }
    #mixpanel {
      bottom: -30px;
      left: 35%;
      @include screen('mobile') { width: 75px; }
    }
    #opencart {
      bottom: -40px;
      right: 12%;
      @include screen('mobile') { width: 100px; bottom: 15px; right: 0;}
    }
    #webhooks {
      bottom: 0;
      right: 36%;
      @include screen('mobile') { width: 90px; bottom: 40px; }
    }
    #woocommerce {
      bottom: 18%;
      left: 18%;
      @include screen('mobile') { width: 80px; bottom: 32%; left: -12px; }
    }
    #zapier {
      top: -45px;
      left: 11%;
      @include screen('mobile') { width: 100px; left: 0; top: -5px; }
    }
    #zendesk {
      top: 20px;
      right: 0;
      @include screen('mobile') { width: 90px; }
    }

  }


}


//Подвал
footer {
  font-size: 14px;
  background: $footer_bg;

  & , a {
    color: $footer;
  }

  a {
    @include transition(color .2s ease);
    &:hover {
      color: $orange;
    }
  }


  .downloads {
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $footer_border;
    position: relative;
    display: grid;
    grid-template-columns: 155px auto 155px auto 155px auto 155px;
    @include screen('mobile') {
      grid-template-columns: auto;
      align-items: center;
    }
    .app {
      @include screen('mobile') {
        align-self: center;
        justify-self: center;
      }
    }
    a {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    i {
      font-size: 32px;
      margin-right: 20px;
    }
    .line {
      width: 1px;
      height: calc(100% - 40px);
      background: $footer_border;
      position: absolute;
      right: 50%;
      top: 20px;
      @include screen('mobile') {
        display: none;
      }
    }
  }

  nav {
    border-bottom: 1px solid $footer_border;
    p {
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul,li {
      margin: 0;
      padding: 0;
    }
    ul {
      margin-bottom: 30px;
      @include screen('mobile') { margin-bottom: 50px; }
    }
    li {
      list-style: none;
      margin-bottom: 15px;
    }
  }

  .contacts {
    padding-top: 30px;

    div {
      margin-bottom: 30px;
    }

    .phone , .mail , .english {
      a { text-decoration: underline; }
      a:hover { text-decoration: none; }
    }

    .social {
      font-size: 18px;
      a{
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

//Кнопки
@import "buttons";