@import url(normalize.css);
@import url(flexboxgrid.css);
@import url(fonts.css);
body {
  font-family: PTRootUI_Regular, sans-serif; }

.container-fluid {
  margin: 0 auto; }

.max--940 {
  max-width: 940px; }

.dark--text {
  color: #3B3D3E; }

.light--text {
  color: #737577; }

.fs--16 {
  font-size: 16px;
  line-height: 20px; }

.fs--18 {
  font-size: 18px;
  line-height: 27px; }
  @media only screen and (max-width: 767px) {
    .fs--18 {
      font-size: 14px;
      line-height: 22px; } }

b {
  font-family: PTRootUI_bold, sans-serif; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 22px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: PTRootUI_bold, sans-serif;
  font-size: 36px; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 22px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
      font-size: 30px; } }
  @media only screen and (max-width: 340px) {
    h2 {
      font-size: 18px; } }

h4 {
  font-family: PTRootUI_bold, sans-serif;
  font-size: 24px; }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 18px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    h4 {
      font-size: 22px; } }
  @media only screen and (max-width: 340px) {
    h4 {
      font-size: 14px; } }

header {
  max-width: 1270px;
  padding-top: 35px;
  padding-bottom: 80px; }
  @media only screen and (max-width: 767px) {
    header {
      padding-top: 15px;
      padding-bottom: 30px; } }
  header .logo img {
    display: block; }
  header .hamburger {
    display: none; }
    @media only screen and (max-width: 767px) {
      header .hamburger {
        display: block; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      header .hamburger {
        display: block; } }
    header .hamburger a {
      font-size: 22px;
      color: #22252A; }
  header nav.row {
    display: none;
    font-size: 10px;
    line-height: 27px; }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      header nav.row {
        display: flex; } }
    @media only screen and (min-width: 1440px) {
      header nav.row {
        display: flex; } }
    header nav.row ul {
      margin: 0; }
    header nav.row li {
      list-style: none;
      margin-left: 10px;
      padding: 0 10px;
      position: relative;
      cursor: pointer; }
      header nav.row li.folder {
        padding-right: 15px; }
        header nav.row li.folder ul {
          position: absolute;
          z-index: 2;
          top: 25px;
          right: 0;
          overflow: hidden;
          max-height: 0;
          border-radius: 2px 0 2px 2px;
          padding: 0;
          -webkit-transition: max-height 0.5s ease;
          -moz-transition: max-height 0.5s ease;
          -ms-transition: max-height 0.5s ease;
          -o-transition: max-height 0.5s ease;
          transition: max-height 0.5s ease;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }
          header nav.row li.folder ul li {
            display: none;
            white-space: nowrap;
            margin-left: 0;
            padding: 0 15px 0 10px; }
            header nav.row li.folder ul li a {
              line-height: 20px; }
            header nav.row li.folder ul li:hover {
              background: rgba(34, 37, 42, 0.1); }
          header nav.row li.folder ul li:first-child {
            padding-top: 5px; }
          header nav.row li.folder ul li:last-child {
            padding-bottom: 5px; }
        header nav.row li.folder:hover, header nav.row li.folder:hover ul {
          color: white;
          background: #FF8246;
          display: block; }
        header nav.row li.folder:hover {
          border-radius: 2px 2px 0 0;
          box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.15); }
          header nav.row li.folder:hover .str {
            border-color: white; }
          header nav.row li.folder:hover a {
            color: white; }
        header nav.row li.folder:hover ul {
          max-height: 200px; }
          header nav.row li.folder:hover ul li {
            display: block; }
      header nav.row li .str {
        display: block;
        width: 3px;
        height: 3px;
        border-bottom: 1px solid #22252A;
        border-right: 1px solid #22252A;
        position: absolute;
        top: 11px;
        right: 5px;
        transform: rotate(45deg); }
      header nav.row li a {
        color: #22252A;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease; }
        header nav.row li a:hover {
          color: #FF8246; }
      header nav.row li.signUp, header nav.row li.signIn {
        font-size: 8px;
        padding: 0; }
      header nav.row li.signUp {
        margin-left: 20px; }
      header nav.row li.signIn {
        margin-left: 5px; }

.mm .str {
  display: none; }
.mm .btn {
  border-radius: 0; }

.hero {
  background: url("../img/hero_bg.svg") bottom center;
  background-size: cover; }
  .hero .hero-content {
    padding-bottom: 120px; }
    .hero .hero-content .title {
      background: url("../img/uiu.svg") bottom right no-repeat;
      display: inline;
      padding-right: 80px;
      margin-bottom: 25px; }
      @media only screen and (max-width: 767px) {
        .hero .hero-content .title {
          background-position: 98% -20px; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .hero .hero-content .title {
          background-position: 100% -16px; } }
    .hero .hero-content p {
      margin: 25px 0 30px; }
    .hero .hero-content .btn {
      margin-right: 10px; }
    .hero .hero-content .pic {
      position: relative; }
      .hero .hero-content .pic img {
        width: 100%; }
        @media only screen and (max-width: 767px) {
          .hero .hero-content .pic img {
            margin-bottom: 30px; } }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          .hero .hero-content .pic img {
            width: 110%;
            position: absolute;
            right: 0;
            z-index: 1; } }
        @media only screen and (min-width: 1440px) {
          .hero .hero-content .pic img {
            width: 145%; } }

.categories {
  margin-bottom: 100px; }
  .categories .categories-content {
    position: relative; }
    .categories .categories-content h2 {
      position: relative;
      z-index: 2; }
    .categories .categories-content .plus_plus {
      position: absolute;
      right: 0;
      z-index: 1; }
  .categories .cards {
    padding-top: 30px; }
    .categories .cards .card {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: box-shadow 0.2s ease;
      -moz-transition: box-shadow 0.2s ease;
      -ms-transition: box-shadow 0.2s ease;
      -o-transition: box-shadow 0.2s ease;
      transition: box-shadow 0.2s ease;
      border-radius: 9px;
      padding: 30px 10px;
      margin-bottom: 30px; }
      .categories .cards .card:hover {
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2); }
      .categories .cards .card h4 {
        margin: 25px 0; }
      .categories .cards .card p {
        margin: 0 0 25px;
        padding: 0 10px; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .categories .cards .card p {
            height: 66px; } }

.toolkit {
  margin-bottom: 160px; }
  .toolkit .pic_box {
    position: relative; }
    @media only screen and (max-width: 767px) {
      .toolkit .pic_box {
        margin-bottom: 30px; } }
    .toolkit .pic_box .uiu {
      position: absolute;
      z-index: 3; }
    .toolkit .pic_box .pic {
      position: relative;
      z-index: 2; }
    .toolkit .pic_box .bg {
      width: 105%;
      position: absolute;
      z-index: 1;
      top: -30px;
      left: -5%; }
      @media only screen and (max-width: 767px) {
        .toolkit .pic_box .bg {
          width: 100%;
          left: 0; } }
  .toolkit .last-sm .bg {
    left: 0;
    right: -5%; }
    @media only screen and (max-width: 767px) {
      .toolkit .last-sm .bg {
        width: 100%;
        right: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .toolkit .last-sm .bg {
        width: 100%; } }
  .toolkit h2 {
    margin: 0 0 10px; }
  .toolkit .btn {
    margin-top: 30px; }

.accordion {
  position: relative;
  padding: 20px 20px 0 45px;
  border-radius: 9px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer; }
  .accordion.active {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    margin-top: 10px; }
    .accordion.active p {
      display: block;
      height: auto; }
    .accordion.active .plus {
      transform: rotate(45deg); }
  .accordion h4 {
    margin: 0; }
  .accordion p {
    margin: 0;
    padding: 20px 0;
    display: none; }
  .accordion .plus {
    position: absolute;
    top: 21px;
    left: 12px;
    transform: rotate(0deg);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease; }
    @media only screen and (max-width: 767px) {
      .accordion .plus {
        top: 17px; } }

.toolkit_sales .uiu {
  left: 25%;
  transform: rotate(320deg); }
  @media only screen and (max-width: 767px) {
    .toolkit_sales .uiu {
      top: 240px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .toolkit_sales .uiu {
      top: 270px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .toolkit_sales .uiu {
      top: 320px; } }
  @media only screen and (min-width: 1440px) {
    .toolkit_sales .uiu {
      top: 330px; } }
  @media only screen and (max-width: 340px) {
    .toolkit_sales .uiu {
      top: 200px; } }
.toolkit_sales .pic {
  width: 80%;
  max-width: 324px; }

.toolkit_involvement .pic {
  width: 100%;
  max-width: 515px;
  position: relative;
  top: -20px;
  left: 0; }
  @media only screen and (min-width: 1440px) {
    .toolkit_involvement .pic {
      width: 110%;
      left: -5%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .toolkit_involvement h2 {
    width: 120%; } }

.toolkit_satisfaction {
  margin-bottom: 100px; }
  .toolkit_satisfaction .uiu {
    position: absolute;
    left: 65%;
    z-index: 3;
    transform: rotate(300deg); }
    @media only screen and (max-width: 767px) {
      .toolkit_satisfaction .uiu {
        top: 230px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .toolkit_satisfaction .uiu {
        top: 250px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      .toolkit_satisfaction .uiu {
        top: 300px; } }
    @media only screen and (min-width: 1440px) {
      .toolkit_satisfaction .uiu {
        top: 300px; } }
    @media only screen and (max-width: 340px) {
      .toolkit_satisfaction .uiu {
        top: 180px; } }
  .toolkit_satisfaction .uiu_2 {
    position: absolute;
    left: 0;
    z-index: 3;
    transform: rotate(0deg); }
    @media only screen and (max-width: 767px) {
      .toolkit_satisfaction .uiu_2 {
        top: 90px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .toolkit_satisfaction .uiu_2 {
        top: 90px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      .toolkit_satisfaction .uiu_2 {
        top: 100px; } }
    @media only screen and (min-width: 1440px) {
      .toolkit_satisfaction .uiu_2 {
        top: 120px; } }
  .toolkit_satisfaction .pic {
    margin-top: 20px;
    width: 100%;
    max-width: 418px; }

.clients {
  margin-bottom: 145px; }
  .clients h2 {
    margin-bottom: 60px; }
  .clients .pole {
    background: #F4F4FC url("../img/clients_logo.png") no-repeat center;
    width: 100%;
    height: 310px;
    border-radius: 160px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .clients .pole {
        background-size: 40% auto; } }
    @media only screen and (max-width: 340px) {
      .clients .pole {
        height: 288px; } }
    .clients .pole img {
      position: absolute;
      display: block; }
    .clients .pole #dialogflow {
      top: -40px;
      right: 31%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #dialogflow {
          width: 103px;
          right: 25%; } }
    .clients .pole #facebook {
      bottom: 43%;
      right: 19%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #facebook {
          width: 75px;
          right: 3%; } }
    .clients .pole #google-analytics {
      bottom: 0;
      left: 0; }
      @media only screen and (max-width: 767px) {
        .clients .pole #google-analytics {
          width: 120px; } }
    .clients .pole #slack {
      top: 10px;
      left: 37%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #slack {
          width: 75px;
          left: 27%;
          top: 40px; } }
    .clients .pole #mixpanel {
      bottom: -30px;
      left: 35%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #mixpanel {
          width: 75px; } }
    .clients .pole #opencart {
      bottom: -40px;
      right: 12%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #opencart {
          width: 100px;
          bottom: 15px;
          right: 0; } }
    .clients .pole #webhooks {
      bottom: 0;
      right: 36%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #webhooks {
          width: 90px;
          bottom: 40px; } }
    .clients .pole #woocommerce {
      bottom: 18%;
      left: 18%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #woocommerce {
          width: 80px;
          bottom: 32%;
          left: -12px; } }
    .clients .pole #zapier {
      top: -45px;
      left: 11%; }
      @media only screen and (max-width: 767px) {
        .clients .pole #zapier {
          width: 100px;
          left: 0;
          top: -5px; } }
    .clients .pole #zendesk {
      top: 20px;
      right: 0; }
      @media only screen and (max-width: 767px) {
        .clients .pole #zendesk {
          width: 90px; } }

footer {
  font-size: 14px;
  background: #1F223A; }
  footer, footer a {
    color: #CBD4EC; }
  footer a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    footer a:hover {
      color: #FF8246; }
  footer .downloads {
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #2A2D49;
    position: relative;
    display: grid;
    grid-template-columns: 155px auto 155px auto 155px auto 155px; }
    @media only screen and (max-width: 767px) {
      footer .downloads {
        grid-template-columns: auto;
        align-items: center; } }
    @media only screen and (max-width: 767px) {
      footer .downloads .app {
        align-self: center;
        justify-self: center; } }
    footer .downloads a {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
    footer .downloads i {
      font-size: 32px;
      margin-right: 20px; }
    footer .downloads .line {
      width: 1px;
      height: calc(100% - 40px);
      background: #2A2D49;
      position: absolute;
      right: 50%;
      top: 20px; }
      @media only screen and (max-width: 767px) {
        footer .downloads .line {
          display: none; } }
  footer nav {
    border-bottom: 1px solid #2A2D49; }
    footer nav p {
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 20px; }
    footer nav ul, footer nav li {
      margin: 0;
      padding: 0; }
    footer nav ul {
      margin-bottom: 30px; }
      @media only screen and (max-width: 767px) {
        footer nav ul {
          margin-bottom: 50px; } }
    footer nav li {
      list-style: none;
      margin-bottom: 15px; }
  footer .contacts {
    padding-top: 30px; }
    footer .contacts div {
      margin-bottom: 30px; }
    footer .contacts .phone a, footer .contacts .mail a, footer .contacts .english a {
      text-decoration: underline; }
    footer .contacts .phone a:hover, footer .contacts .mail a:hover, footer .contacts .english a:hover {
      text-decoration: none; }
    footer .contacts .social {
      font-size: 18px; }
      footer .contacts .social a {
        opacity: 0.5; }
        footer .contacts .social a:hover {
          opacity: 1; }

a {
  text-decoration: none; }

.btn {
  padding: 0 10px;
  border-radius: 2px;
  line-height: 27px;
  display: inline-block; }
  .btn.large {
    padding: 0 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 45px; }
    @media only screen and (max-width: 767px) {
      .btn.large {
        padding: 0 10px;
        font-size: 14px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .btn.large {
        padding: 0 10px; } }

.btn.blue {
  background-color: #4040BF;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  color: #fff !important; }
  .btn.blue:hover {
    background-color: #FF8246; }

.btn.bordered {
  border: 1px solid #C7CAD1;
  color: #22252A; }

.blue_font {
  color: #4040BF;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  .blue_font:hover {
    color: #FF8246; }

/*# sourceMappingURL=base.css.map */
