a {
  text-decoration: none;
}

.btn {
  padding: 0 10px;
  border-radius: 2px;
  line-height: 27px;
  display: inline-block;

  &.large {
    padding: 0 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 45px;
    @include screen('mobile') {
      padding: 0 10px;
      font-size: 14px;
    }
    @include screen('tablet') {
      padding: 0 10px;
    }
  }
}

.btn.blue {
  background-color: $blue;
  @include transition(background-color .2s ease);
  color: #fff !important;

  &:hover {
    background-color: $orange;
  }
}

.btn.bordered {
  border: 1px solid $border;
  color: $black;
}

.blue_font {
  color: $blue;
  @include transition(color .2s ease);

  &:hover {
    color: $orange;
  }
}