@font-face {
  font-family: 'PTRootUI_Regular';
  src: url('../fonts/PTRootUI_Regular.eot');
  src:
          url('../fonts/PTRootUI_Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PTRootUI_Regular.woff2') format('woff2'),
          url('../fonts/PTRootUI_Regular.woff') format('woff'),
          url('../fonts/PTRootUI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUI_Bold';
  src: url('../fonts/PTRootUI_Bold.eot');
  src:
          url('../fonts/PTRootUI_Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PTRootUI_Bold.woff2') format('woff2'),
          url('../fonts/PTRootUI_Bold.woff') format('woff'),
          url('../fonts/PTRootUI_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?4118856');
  src: url('../fonts/fontello.eot?4118856#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?4118856') format('woff2'),
       url('../fonts/fontello.woff?4118856') format('woff'),
       url('../fonts/fontello.ttf?4118856') format('truetype'),
       url('../fonts/fontello.svg?4118856#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4118856#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-android:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */